<section class="client breadcrumb-section">

    <div class="container ">
        <div class="row">
            <div class="col-12">
                <h2 class="breadcrumb-text text-center">Bienvenue sur votre espace UččI</h2>
            </div>
        </div>
    </div>

</section>



<section class="alert-section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div class="alert alert-primary dark" role="alert">Veuillez mettre à jour les informations de votre restaurant</div>
                    <div class="alert alert-warning dark" role="alert">Vous serez recontacté pour accomplir les démarches nécessaires</div>
                </div>
            </div>
        </div>
    </div>
</section>



<app-accordion></app-accordion>
