<section class="saas1 accordion faq testimonial-bg">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="title title2 title-inner">
                  <div class="main-title">
                      <h2 class="font-primary borders text-center main-text m-b-0"><span class="text-uppercase">Savoir plus sur UččI</span>
                      </h2>
                  </div>

              </div>
          </div>
          <div class="col-md-7">
              <div class="faq-block">
                  <div class="w-100">
                    <ngb-accordion [closeOthers]="true" class="accordion faq" activeIds="static-1">
                      <ngb-panel id="static-1" class="card">
                        <ng-template ngbPanelTitle class="card-header">
                            <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                            aria-expanded="false">
                           <a>
                               <div class="fa fa-angle-right rotate"></div>
                           </a>
                           Devrai-je effectuer un paiement?
                       </div>
                        </ng-template>
                        <ng-template ngbPanelContent class="card-body">
                            Aucun frais d'inscription vous sera demandé au moment de l'inscription.
                        </ng-template>
                      </ngb-panel>
                      <ngb-panel id="static-2" class="card">
                          <ng-template ngbPanelTitle class="card-header">
                              <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                              aria-expanded="false">
                             <a>
                                 <div class="fa fa-angle-right rotate"></div>
                             </a>
                             Comment peut-on avoir l'application
                         </div>
                          </ng-template>
          
                          <ng-template ngbPanelContent class="card-body">
                              L'application sera présente sur PlayStore pour les utilsateurs généraux. Tandis que les propriétaires des restaur
                          </ng-template>
                        </ngb-panel>
                        <ngb-panel id="static-3" class="card">
                            <ng-template ngbPanelTitle class="card-header">
                                <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                aria-expanded="false">
                               <a>
                                   <div class="fa fa-angle-right rotate"></div>
                               </a>
                               Comment peut-on apprendre à utiliser l'application ?
                           </div>
                            </ng-template>
            
                            <ng-template ngbPanelContent class="card-body">
                                Une fomration au niveau de l'agence sera dedié pour les nouveaux clients.
                                On trouvera également des vidéos explicatives sur ce site & les réseaux sociaux
                            </ng-template>
                          </ngb-panel>

                    </ngb-accordion>
                  </div>
              </div>
          </div>
          <div class="col-md-5">
              <div class="register-page section-b-space">

                  <h3>Posez votre question</h3>
                  <p class="text-sub">Un conseiller UččI se chargera de vous répondre dans le bref délai </p>
                  <div class="theme-card">
                      <form class="theme-form">
                          <input type="text" class="form-control" id="name" placeholder="Nom"
                                 required="">

                          <input type="password" class="form-control" id="email" placeholder="email"
                                 required="">
                          <div class="form-group">
                              <textarea class="form-control" rows="6" placeholder="votre question"></textarea>
                          </div>
                          <a href="#" class="btn primary-btn btn-default radius-0">Envoyer</a>
                      </form>
                  </div>

              </div>
          </div>
      </div>
  </div>
</section>

<!--accordion section end-->
