<!-- Navbar section Start-->
<header class="app1 nav-abs custom-scroll">
  <div class="container">
      <div class="row">
          <div class="col">
              <nav>
              <a href="#" class="d-inline-block m-r-auto">
                  <img src="assets/images/logo/1.png" alt="" class="img-fluid">
              </a>
              <div class="button-primary">
                  <button type="submit" routerLink="/client"
                          class=" btn btn-default btn-gradient text-white">Espace Client
                  </button>
              </div>
                <!-- <app-menu></app-menu> -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- Navbar section end-->

